body {
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
}

td > section[pass] {
  display: inline-block;
  height: 16px;
  width: 50px;
  color: darkcyan;
}

td > section[fail] {
  display: inline-block;
  height: 16px;
  width: 50px;
  color: red;
}

td > section[pass]::after {
  content: "pass";
}

td > section[fail]::after {
  content: "fail";
}

td > div {
  width: 50px;
  height: 15px;
  background-color: darkcyan;
}
